sqlite3
pysqlite3
sys
sys.modules['sqlite3'] = sys.modules.pop('pysqlite3')

pypdf2

textloader

openai

chromadb==0.3.24

streamlit

langchain

langchain-openai

langchain-community

langchain-chroma

crewai

python-dotenv

tiktoken
 
